// Color
$blue: #727CF5;
$h1-black: #282F3A;
$p-grey: #686868;
$pink: #CC7EDF;
$orange: #F8B32D;
$yellow: #F9F871;
$green: #3CC479;
$dark-grey: #9AA4B8;
$light-grey: #E8EBF1;
$white: #fff;
$red: #EF4E58;


// Border styling

$color: #fdf3d6;

$background-grey: #F3F4F6;

$border-color: #ddd;
$border-color-hover: #aaaeb7;

//New Color

$background-color: #003755;
$background-color-2: #262931;
$background-color-3: #20232B;

$border-color-1: #0077B0;
$border-color-2: #0077B0;


$light-blue: #2DC5F0;
$shade-blue: #27AFE0;

$light-red: #F54F64;
$shade-red: #DC495A;

$fade-text: #50525A;
$header-text: #F3F5F5;
$p-text: #9A9DA1;

