// Color
$blue: #727CF5;
$h1-black: #282F3A;
$p-grey: #686868;
$pink: #CC7EDF;
$orange: #F8B32D;
$yellow: #F9F871;
$green: #3CC479;
$dark-grey: #9AA4B8;
$light-grey: #E8EBF1;
$white: #fff;
$red: #EF4E58;


// Border styling

$color: #fdf3d6